<div class="card">
    <h5 class="card-header"><a href={{link}}>{{title}}</a></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                {{#if thumbnail}}
                <a href={{link}}><img class="img-responsvie" style="width: 130px; height: 130px;" src={{thumbnail}}></a>
                {{else}}
                <a href={{link}}><img class="img-responsvie" style="width: 130px; height: 130px;"
                        src="/assets/img/Reddit-icon.png"></a>
                {{/if}}
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>