<div class="card">
    <h5 class="card-header"><a href={{link}}>{{title}}</a></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                {{#if thumbnail}}
                <a href={{link}}><img class="img-responsvie" style="width: 130px; height: 130px;" src={{thumbnail}}></a>
                {{else}}
                <a href={{link}}><img class="img-responsvie" style="width: 130px; height: 130px;"
                        src="/assets/img/Reddit-icon.png"></a>
                {{/if}}
            </div>
            <div class="col-3 cardBtnGroup" postId={{_id}}>
                {{#if saved}}
                <button type="button" class="btn btn-success savePost">Unsave</button>
                {{else}} <button class="btn btn-primary savePost">Save Post</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>