<div class="card">
    <h5 class="card-header"><a href={{link}} target="_blank">{{title}}</a></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                {{#if thumbnail}}
                <a href={{link}} target="_blank"><img class="img-responsvie" style="width: 130px; height: 130px;"
                        src={{thumbnail}}></a>
                {{else}}
                <a href={{link}} target="_blank"><img class="img-responsvie" style="width: 130px; height: 130px;"
                        src="/assets/img/Reddit-icon.png"></a>
                {{/if}}
            </div>
            <div class="col-3 cardBtnGroup" postId={{_id}}>
                <button type="button" class="btn btn-danger toggleSave">Unsave</button>
                <button type="button" class="btn btn-primary commentBtn">Comment</button>
            </div>
        </div>
    </div>
</div>